@import '../../../../assets/styles/variables.scss';

@font-face {
    font-family: colonnaMT;
    src: url(../../../../assets/fonts/colonna/colonna_mt.ttf);
}

@mixin bubble ($class, $wh, $left, $duration, $delay) {
    &.#{$class} {
        &.#{$class} {
            width: $wh;
            height: $wh;
            left: $left;
            animation: bubble $duration linear $delay infinite;
        }
    }
}

.canvas {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary;
    .content {
        text-align: center;
        z-index: 0;
        // display: table-cell;
        // vertical-align: middle;
        animation: zoomIn .50s ease-in;
        h1 {
            text-transform: uppercase;
            color: $light;
            font-weight: bold;
        }
        svg {
            &.logo {
                width: 300px;
                position: fixed;
                top: 20%;
                left: 50%;
                margin-left: -(300px/2);
            }
        }
    }
    .bubble-wrap {
        .bubble {
            border-radius: 50%;
            border: 2px solid #00FFFF;
            opacity: 0;
            position: absolute;
            bottom: 0;
            @include bubble(bubble-1, 30px, 10%, 10s, 2s);
            @include bubble(bubble-2, 30px, 80%, 8s, 3s);
            @include bubble(bubble-3, 30px, 22%, 6s, 1s);
            @include bubble(bubble-4, 20px, 12%, 4s, 3s);
            @include bubble(bubble-5, 30px, 67%, 9s, 4s);
            @include bubble(bubble-6, 40px, 24%, 7s, 1s);
            @include bubble(bubble-7, 30px, 54%, 5s, 3s);
            @include bubble(bubble-8, 40px, 74%, 10s, 2s);
            @include bubble(bubble-9, 35px, 46%, 8s, 3s);
            @include bubble(bubble-10, 20px, 24%, 6s, 2s);
            @include bubble(bubble-11, 20px, 12%, 4s, 3s);
            @include bubble(bubble-12, 30px, 34%, 9s, 1s);
            @include bubble(bubble-13, 20px, 53%, 7s, 3s);
            @include bubble(bubble-14, 20px, 45%, 5s, 2s);
            @include bubble(bubble-15, 40px, 84%, 10s, 3s);
            @include bubble(bubble-16, 20px, 90%, 8s, 1s);
        }
    }
    @keyframes bubble {
        0% {
            bottom: 0;
            opacity: 0.3;
        }
        100% {
            bottom: 100%;
            opacity: 0;
        }
    }
    .layer {
        background-position: bottom center;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .layer-1 {
        svg {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 40;
        }
    }
    .layer-2 {
        svg {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
        }
    }
    .layer-3 {
        svg {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 35;
        }
    }
    .layer-4 {
        animation: shark 20s linear 0s infinite;
        svg {
            width: 300px;
            position: fixed;
            z-index: 0;
            @keyframes shark {
                0% {
                    top: 15%;
                    left: -20%;
                }
                40% {
                    top: 25%;
                }
                100% {
                    top: 10%;
                    left: 100%;
                }
            }
        }
    }
    .layer-5 {
        animation: diver 5s linear 1s infinite alternate;
        svg {
            animation: diver 5s linear 1s infinite alternate;
            width: 200px;
            position: fixed;
            left: 18%;
            bottom: 0;
            z-index: 37;
            @keyframes diver {
                0% {
                    bottom: 0;
                }
                100% {
                    bottom: 8%;
                }
            }
        }
    }
    .layer-6 {
        top: -120px;
        z-index: 30;
        transform: rotate(-55deg);
        font-size: 100px;
        font-weight: bolder;
    }
    .layer-7 {
        width: 80px;
        animation: nemo-1 30s linear 0s infinite;
        @keyframes nemo-1 {
            0% {
                left: 20%;
                bottom: 18%;
            }
            40% {
                bottom: 12%;
            }
            100% {
                left: 100%;
                bottom: 22%;
            }
        }
    }
    .layer-8 {
        width: 70px;
        animation: nemo-2 20s linear 0s infinite;
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        @keyframes nemo-2 {
            0% {
                left: 100%;
                bottom: 50%;
            }
            40% {
                bottom: 8%;
            }
            100% {
                left: -5%;
                bottom: 30%;
            }
        }
    }
}