@import '../../../../assets/styles/variables.scss';

@mixin social ($class, $color) {
    &.#{$class} {
        background: $color;
        &:before {
            border-bottom-color: $color;
        }
        &:after {
            border-top-color: $color;
        }
    }
}

footer {
    position: relative;
    width: 100%;
    padding: 100px 20px;
    text-align: center;
    background: $primary;
    color: $light;
    p {
        margin: 35px 0;
        font-size: 14px;
    }
    .social {
        a {
            display: inline-block;
            font-size: 20px;
            line-height: 23.09px;
            color: $light;
            @include social(facebook, $facebook);
            @include social(twitter, $twitter);
            @include social(googleplus, $googleplus);
            @include social(linkedin, $linkedin);
            @include social(codepen, $codepen);
            @include social(github, $github);
        }
    }
    .copyright {
        a,
        i.fa-heart {
            color: $heart;
        }
    }
    .subnav {
        a {
            cursor: pointer;
        }
    }
    .layer-1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .layer-2 {
        svg {
            width: 200px;
            position: absolute;
            z-index: 0;
            animation: shark-1 20s linear 0s infinite;
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            @keyframes shark-1 {
                0% {
                    top: 15%;
                    right: -20%;
                }
                40% {
                    top: 25%;
                }
                100% {
                    top: 10%;
                    right: 100%;
                }
            }
        }
    }
    .footer-content {
        position: relative;
        z-index: 11;
    }
}

/* PULSE */

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  
    100% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    50% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
  
    100% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  
  .faa-pulse.animated,
  .faa-pulse.animated-hover:hover,
  .faa-parent.animated-hover:hover > .faa-pulse {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
  }
  