$primary: #3B305F;
$secondary: #5D8484;

$dark: #000000;
$light: #ffffde;
$heart: #c4415d;

$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$linkedin: #0077b5;
$whatsapp: #34af23;
$github: #6cc644;
$codepen: #432880;